.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 999;
  padding: 1% 0 1%;
}

.navbar-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-2to11 {
  grid-column: 2 / 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-12 {
  display: none;
}

/* Left: Logo */
.navbar-logo {
  font-family: "Montserrat", serif;
  font-size: 1.3rem;
  color: var(--color-primary);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.navbar-logo-image {
  width: 8%;
}
.navbar-word-logo-image {
  width: 15%;
}
.primary {
  color: #0a2540;
}

.secondary {
  color: #51ba31;
}

/* Right: Links */
.navbar-links {
  display: flex;
  gap: 32px;
  font-family: "Montserrat", serif;
  font-size: 0.95rem;
}

.navbar-links a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

.navbar-links a:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.navbar-links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--color-secondary);
  transition: width 0.3s ease;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navbar-links a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin-left: auto;
  cursor: pointer;
  z-index: 1000;
}

.bar {
  width: 22px;
  height: 3px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.rotate-top {
  transform: rotate(45deg) translateY(8px);
}

.fade {
  opacity: 0;
}

.rotate-bottom {
  transform: rotate(-45deg) translateY(-8px);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar-grid {
    grid-template-columns: 1fr;
  }

  .col-2to11 {
    flex-direction: column;
    gap: 14px;
    grid-column: span 12;
  }

  .navbar-logo {
    font-size: 1.1rem;
  }

  .navbar-logo-image {
    width: 10%;
  }

  .navbar-links {
    flex-direction: column;
    gap: 12px;
  }
  @media screen and (max-width: 768px) {
    .hamburger {
      margin-top: 5%;
      display: flex;
    }
    .navbar {
      top: 0;
      border-bottom: 1px solid #0a2540;
    }

    .navbar-links {
      display: none;
      flex-direction: column;
      gap: 16px;
      margin-top: 1rem;
      width: 100%;
    }

    .navbar-links.open {
      display: flex;
      animation: fadeIn 0.3s ease-in-out;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
